In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, f1_score
import warnings
warnings.filterwarnings("ignore")

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [66]:
data_17 = pd.read_csv("../data/modis_2017_India.csv")
data_18 = pd.read_csv("../data/modis_2018_India.csv")
data_19 = pd.read_csv("../data/modis_2019_India.csv")
data_20 = pd.read_csv("../data/modis_2020_India.csv")
data_21 = pd.read_csv("../data/modis_2021_India.csv")
data_22 = pd.read_csv("../data/modis_2022_India.csv")

In [67]:
df = pd.concat([data_17, data_18, data_19, data_20, data_21, data_22])

In [4]:
df.shape

(517970, 15)

In [5]:
df = df.query('type!=1 and type!=3')

In [6]:
df['type'].value_counts()

type
0    490993
2     26853
Name: count, dtype: int64

In [7]:
df.shape

(517846, 15)

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,31.4814,75.7365,301.5,1.4,1.2,2017-01-01,529,Terra,MODIS,48,6.20,291.1,5.4,D,0
1,28.7628,79.5194,311.3,1.0,1.0,2017-01-01,530,Terra,MODIS,71,6.20,292.8,8.6,D,0
2,28.0761,79.8547,304.2,1.0,1.0,2017-01-01,530,Terra,MODIS,58,6.20,290.6,5.0,D,0
3,28.5888,78.7448,305.0,1.0,1.0,2017-01-01,530,Terra,MODIS,60,6.20,293.5,4.3,D,0
4,29.4661,77.1339,303.3,1.1,1.1,2017-01-01,530,Terra,MODIS,56,6.20,291.6,5.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517841,29.9033,74.9521,303.3,2.7,1.6,2022-12-31,1726,Terra,MODIS,55,6.03,281.3,37.2,N,0
517842,29.9086,74.9460,323.9,2.7,1.6,2022-12-31,1726,Terra,MODIS,100,6.03,282.0,106.5,N,0
517843,29.9170,74.9576,323.5,1.9,1.3,2022-12-31,2127,Aqua,MODIS,100,6.03,274.6,66.9,N,0
517844,21.1048,72.6415,302.9,2.0,1.4,2022-12-31,2130,Aqua,MODIS,52,6.03,289.9,18.5,N,2
517845,21.1137,72.6380,302.7,2.0,1.4,2022-12-31,2130,Aqua,MODIS,51,6.03,290.1,18.3,N,2

In [10]:
df.loc[df['type']==2, 'type'] = 1

In [11]:
df.drop(['version'],axis=1,inplace=True)

In [12]:
df.drop(["instrument"],axis=1,inplace=True)

In [13]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'confidence', 'bright_t31', 'frp', 'daynight',
       'type'],
      dtype='object')

In [14]:
df[['scan','confidence']].corr()

                scan  confidence
scan        1.000000   -0.047293
confidence -0.047293    1.000000

In [15]:
df.drop(['scan'],axis=1,inplace=True)

In [16]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'track', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [68]:
df['month'] = df["acq_date"].apply(lambda x: int(x.split("-")[1]))

In [18]:
df['month'].value_counts()

month
3     138193
4     103780
11     77270
5      47719
10     43289
2      42506
12     26895
1      25747
6       5562
9       3085
7       1926
8       1874
Name: count, dtype: int64

In [19]:
df[['month','confidence']].corr()

               month  confidence
month       1.000000   -0.111469
confidence -0.111469    1.000000

In [20]:
df.drop(['month'],axis=1,inplace=True)

In [21]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'track', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [22]:
df[['track','confidence']].corr()

               track  confidence
track       1.000000   -0.048265
confidence -0.048265    1.000000

In [23]:
df.drop(['track'],axis=1,inplace=True)

In [24]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [25]:
df[['frp','confidence']].corr()

                 frp  confidence
frp         1.000000    0.282232
confidence  0.282232    1.000000

In [26]:
df[['brightness','confidence']].corr()

            brightness  confidence
brightness     1.00000     0.55361
confidence     0.55361     1.00000

In [27]:
df[['bright_t31','confidence']].corr()

            bright_t31  confidence
bright_t31    1.000000    0.197398
confidence    0.197398    1.000000

In [28]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [29]:
df['acq_time'].describe()

count    517846.000000
mean        823.377937
std         353.377152
min         325.000000
25%         644.000000
50%         753.000000
75%         820.000000
max        2151.000000
Name: acq_time, dtype: float64

In [30]:
df['hours'] = df['acq_time'].apply(lambda x: int(x/100))

In [31]:
df['hours'].value_counts()

hours
8     170066
7     145990
5      89944
6      35431
16     21568
17     20158
4      17849
20     11451
19      2008
9       1011
15       975
21       950
3        414
18        31
Name: count, dtype: int64

In [32]:
df[['hours','confidence']].corr()

               hours  confidence
hours       1.000000    0.011977
confidence  0.011977    1.000000

In [33]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type',
       'hours'],
      dtype='object')

In [34]:
df['satellite']= df['satellite'].map({'Terra':0, 'Aqua':1})

In [35]:
df[['satellite','confidence']].corr()

            satellite  confidence
satellite    1.000000    0.047351
confidence   0.047351    1.000000

In [36]:
df['acq_date'] = pd.to_datetime(df['acq_date'])

In [37]:
df[['acq_date','confidence']].corr()

            acq_date  confidence
acq_date    1.000000   -0.008203
confidence -0.008203    1.000000

In [38]:
df.columns

Index(['latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'satellite', 'confidence', 'bright_t31', 'frp', 'daynight', 'type',
       'hours'],
      dtype='object')

In [39]:
from sklearn.model_selection import StratifiedShuffleSplit
target=['confidence']

feature_cols = [x for x in df.columns if x not in target]

strat_shuff_split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

# Get the index values from the generator
train_idx, test_idx = next(strat_shuff_split.split(df[feature_cols], df[target]))

# Create the data sets
X_train = df.loc[train_idx, feature_cols]
y_train = df.loc[train_idx, target]
X_test = df.loc[test_idx, feature_cols]
y_test = df.loc[test_idx, target]

In [72]:
X = df[['latitude','longitude','month','brightness','scan','acq_time','bright_t31','daynight']]
y = df['frp']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [62]:
import pickle 

gradient = pickle.load(open("GradientBoostingRegressor1.pkl","rb"))

In [71]:
gradient.score(model.predict(X_test),y_test)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [72]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import StandardScaler
from kerastuner.tuners import RandomSearch
import tqdm


# Scale the data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Convert the labels to categorical
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(len(y_train.iloc[:, 0].unique()), activation='softmax'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='categorical_crossentropy',
        metrics=['accuracy'])
    return model

# Define the distribution strategy
strategy = tf.distribute.MirroredStrategy()

with strategy.scope():
    tuner = RandomSearch(
        build_model,
        objective='val_accuracy',
        max_trials=2,
        executions_per_trial=3,
        directory='/kaggle/working/runs',
        project_name='forestfire')

tuner.search_space_summary()

tuner.search(X_train, y_train_categorical,
             epochs=3,
             validation_data=(X_test, y_test_categorical))

tuner.results_summary()

# Retrieve the best model.
best_model = tuner.get_best_models(num_models=1)[0]

# Evaluate the best model.
_, accuracy = best_model.evaluate(X_test, y_test_categorical)
print(f'Accuracy: {accuracy * 100}%')

2024-02-24 01:04:02.164714: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

ModuleNotFoundError: No module named 'kerastuner'